[Desktop Entry]
Name=Hypergram
Comment=New era of messaging
TryExec=Hypergram
Exec=Hypergram -- %U
Icon=org.telegram.desktop
Terminal=false
StartupWMClass=Hypergram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;hypergram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Hypergram -quit
Name=Quit Hypergram
Icon=application-exit
